h2 {
    border-radius: 10px;
    background-color: blueviolet;
    margin-right: 56pc;
}

li {
    margin-top: 20px;
}

strong {
    background-color: green;
    padding: 15px;
    border-radius: 20px;
}

.lista-produtos span {
    color: aliceblue;
    background-color: rgb(0, 140, 255);
    padding: 6px;
    border-radius: 10px;
}

.lista-produtos .esgotado {
    background-color: black;
}